.container-background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  color: #000;
}

.card-header-styling {
	background-color: #282c34;
	color: #fff;
	align-items: center;
	text-align: center;
}

.button-styling {
	background-color: #282c34;
}

.form-style {
	font-size: 17px;
}
